{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        {% for book in books %}
            <div class="book">
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
            </div>
        {% endfor %}
        {% if prev_date %}
            {% with prev_str=prev_date|date:"Y-m-d" %}
                <a href="/books/{{ prev_str }}">< {{ prev_str }}</a>
            {% endwith %}
        {% endif %}
        {% if next_date %}
            {% with next_str=next_date|date:"Y-m-d" %}
                <a href="/books/{{ next_str }}">{{ next_str }} ></a>
            {% endwith %}
        {% endif %}
    </div>
{% endblock %}